.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.send-money {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  .send-money-inputs {
    width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  .send-money-input {
    width: 500px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  }
  
  .send-money-input input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 5px;
  }
  
  .send-money-input-description {
  font-size: 12px;
  color: gray;
  }

  .wrapper {
    width: 500px;
    margin: 30px;
    background-color: rgba(240, 248, 255, 0.158);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
  }